<h1>{{ title }} </h1>
<p *ngFor="let student of students"><span *ngIf="student.age>18"> student name :{{ student.name }}</span></p>

<label>name: </label>
<input  [(ngModel)]="studentName" type="text"><br><br>
<label>Age: </label>&nbsp;&nbsp;
<input [(ngModel)]="studentAge" type="text"><br><br>
<label>DOB: </label>&nbsp;
<input [(ngModel)]="studentDate" type="text"><br><br>
<input type="submit" (click)="add()">

<p *ngFor="let student of students">
	<span *ngIf="student.age>18"> student name :{{ student.name }} & student date : {{ student.date | date  }}</span>
</p>